/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* General Styles */
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

/* Header */
/*
#headerimage {
  width: 5%;
  height: auto;
}
*/

header {
  background-color: #ecc69f;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 80%;
}

h1 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5c3b15;
  text-shadow: 0 8px 8px white;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
  flex-wrap: wrap; /* Enables the flex items to wrap as needed */
  padding-bottom: 10px;
}

#menu li {
  margin: 5px 0; /* Space between list items */
  list-style-type: none; /* Removes default list item bullets */
}

#menu li a {
  display: block; /* Makes the link fill the entire list item */
  text-decoration: none; /* Removes underline */
  color: #5c3b15; /* Text color */
  background-color: rgba(236,198,159,255); /* Background color of the button */
  padding: 10px 20px; /* Padding inside the link/button */
  text-align: center; /* Centers the text */
  border: none; /* No border */
  border-radius: 10px; /* Rounds the corners, adjust radius as needed */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  box-shadow: 0 8px 8px rgba(43,34,1,255);
  text-shadow: 0 8px 8px rgba(43,34,1,255);
}

#menu li a:hover {
  background-color: #7eb0a4; /* Color for hover effect */
}

#menu li a.active {
  background-color: #7eb0a4; /* Different shade for active link */
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/*navbar styles with dropdown toggle*/

nav {
  position: absolute;
  background-color: rgba(236,198,159,255);
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* nav toggle*/

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main Content */

.background {
  background-image: url(../images/carhistory_banner1.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shade {
  background-color: rgba(236,198,159,0.6);
  width: 70%;
  text-align: center;
  border: #5c3b15 solid 2px;
  padding: 10px;
  border-radius: 25px;
  text-shadow: 0 8px 8px rgba(43,34,1,255);
}

section {
  padding-left: 20px;
  padding-right: 20px;
}
.carphoto {
  width: auto;
  height: 150px;
  border-radius: 25px;
  align-items: end;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  border: #5c3b15 2px solid;

}

.periods {
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h2 {
  padding-top: 20px;
  border-bottom: 2px solid ;
}

.minititle {
  padding-top: 30px;
}

.short-text {
  text-align: justify;
  border: #5c3b15 2px solid;
  border-radius: 25px;
  padding: 10px ;
  margin-top: 10px;
}

main {
  background-color: #bea78d;
  /* Make main element take up any surplus space to push footer down*/
  flex: 1 0 auto;
  margin-top: 40px;
}

article {
  margin-left: 4%;
  margin-right: 4%; /* to make sure to give some rooms at the edge of the screen */

}

div p {
  text-align: justify; /* stretch texts in articles*/
}


/* Footer */
footer {
  background-color: #ecc69f;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  /*Header*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main Content*/

  main {
    /*push main content down to fit header*/
    margin-top: 79px;
  }

  .carphoto {
    order: 2;
  }
  .short-text {
    order: 0;
    padding-top: 33px;
    margin-right: 20px;
  }
  .periods {
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

  }

  section {
    max-width: 1000px; /*content cannot stretch out too much @*/
    /*keep content in the middle of the screen @*/
    margin-left: auto;
    margin-right: auto;
  }

  
}
/*Footer*/
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
